.lastbuild.properties
build.properties
dist
logs
spy.log
temp
tomcat-context.xml
webapp/WEB-INF/classes
webapp/WEB-INF/lib/*.jar
/.settings/
/.project
/.classpath
/bin/

grouper-2.4.0.tar.gz
